﻿@model IEnumerable<Market.Models.Productos>

@{
    ViewBag.Title = "Index";
}

<h2 class= "text-center">Productos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create") | 
    @Html.ActionLink("Ver Clasificacion de Productos", "Index", "ClasificacionProductos") | 
    @Html.ActionLink("Ver Unidad de Medidas", "Index", "UnidadMedidas")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClasificacionProductos.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnidadMedidas.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClasificacionProductos.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnidadMedidas.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-warning" })
        </td>
    </tr>
}

</table>
